.margin-top {
    margin-top: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.padding-top {
    padding-top: 1rem;
}

.trash-icon {
    position: relative;
    margin-right: 0.75rem;
    margin-top: -3rem;
    float: right;
    cursor: pointer;
}

.sidebar-mini.sidebar-collapse .main-sidebar .trash-icon {
    display: none;
}

.sidebar-mini.sidebar-collapse .main-sidebar #new-chart {
    display: none;
}

.export ~ ul.dropdown-menu {
    padding-left: 5px;
    padding-right: 5px;
}

.export ~ ul.dropdown-menu > li {
    display: inline;
}
